In [12]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [13]:
file_path = "../Dados/wfp_food_prices_ukraine.csv"

food_ukr_data = pd.read_csv(file_path,  dtype='unicode')
food_ukr_data = food_ukr_data[1:]

display(food_ukr_data)

,date,cmname,unit,category,price,currency,country,admname,adm1id,mktname,mktid,cmid,ptid,umid,catid,sn,default
1,2014-04-15,Rice - Retail,KG,cereals and tubers,9.4033,UAH,Ukraine,NaN,0,National Average,1295,52,15,5,1,1295_52_15_5,NaN
2,2014-05-15,Rice - Retail,KG,cereals and tubers,9.8967,UAH,Ukraine,NaN,0,National Average,1295,52,15,5,1,1295_52_15_5,NaN
3,2014-06-15,Rice - Retail,KG,cereals and tubers,10.2567,UAH,Ukraine,NaN,0,National Average,1295,52,15,5,1,1295_52_15_5,NaN
4,2014-07-15,Rice - Retail,KG,cereals and tubers,10.2933,UAH,Ukraine,NaN,0,National Average,1295,52,15,5,1,1295_52_15_5,NaN
5,2014-08-15,Rice - Retail,KG,cereals and tubers,10.4033,UAH,Ukraine,NaN,0,National Average,1295,52,15,5,1,1295_52_15_5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29086,2017-07-15,Fat (salo) - Retail,KG,oil and fats,35.1033,UAH,Ukraine,NaN,3172,Zhytomyr,1882,376,15,5,6,1882_376_15_5,NaN
29087,2017-09-15,Fat (salo) - Retail,KG,oil and fats,44.67,UAH,Ukraine,NaN,3172,Zhytomyr,1882,376,15,5,6,1882_376_15_5,NaN
29088,2017-10-15,Fat (salo) - Retail,KG,oil and fats,49.3767,UAH,Ukraine,NaN,3172,Zhytomyr,1882,376,15,5,6,1882_376_15_5,NaN
29089,2017-11-15,Fat (salo) - Retail,KG,oil and fats,51.8933,UAH,Ukraine,NaN,3172,Zhytomyr,1882,376,15,5,6,1882_376_15_5,NaN
29090,2017-12-15,Fat (salo) - Retail,KG,oil and fats,53.2267,UAH,Ukraine,NaN,3172,Zhytomyr,1882,376,15,5,6,1882_376_15_5,NaN

In [14]:
attrs = ['date', 'market', 'category', 'commodity', 'price', 'usdprice']

aux = food_ukr_data[food_data['priceflag'] == 'actual']

food_data = aux[attrs].copy()
food_data[['price', 'usdprice']] = food_data.loc[:, ('price', 'usdprice')].apply(pd.to_numeric)


display(food_data)

NameError: name 'food_data' is not defined

In [ ]:
markets = food_data.market.unique().tolist()

print(markets)

['National Average', 'Crimea', 'Cherkasy', 'Chernihiv', 'Chernivtsi', 'Dnipropetrovsk', 'Donetsk', 'Iv.-Frankivsk', 'Kharkiv', 'Kherson', 'Khmelnytskiy', 'Kirovohrad', 'Kyiv', 'Kyiv city', 'Luhansk', 'Lviv', 'Mykolayiv', 'Odesa', 'Poltava', 'Rivne', 'm. Sevastopol', 'Sumy', 'Ternopyl', 'Vinnytsya', 'Volyn', 'Zakarpattya', 'Zaporizhzhya', 'Zhytomyr']

In [ ]:
capital_data = food_data[food_data["market"] == 'Kyiv']

categories = capital_data.category.unique().tolist()

for category in categories:    
    cat_aux = capital_data[capital_data["category"] == category]
    commodity = cat_aux.commodity.unique().tolist()

    for label in commodity:
        aux = cat_aux[cat_aux["commodity"] == label]

        date_aux = aux.date.tolist()
        price_aux = aux.price.tolist()
        
        plt.plot(date_aux, price_aux, label=label)
    
    plt.xticks(rotation = 45, ha='right')
    plt.title(f"Price of {category} commodities in Ukraine \nfrom {date_aux[0]} to {date_aux[-1]} in Kyiv")
    plt.legend()
    plt.show()

NameError: name 'food_data' is not defined